<template>
  <div>
    <div class="row filter-trigger-row">
      <div class="col-9"></div>
      <div class="col-3 float-right filter-trigger" v-on:click="trigger_filter">Filter <i class="la la-filter"></i></div>
    </div>

    <transition name="fade">
      <div class="filters filter-row collapsed" v-if="is_filter_active">
        Actual filters go here
      </div>
    </transition>

    <div class="row map-and-switcher">
      <div class="col-md-12">
        <!-- The map goes here -->
        <div id="map" class="map"></div>
      </div>
      <div class="col-md-12 layer-switcher">
        <div class="row">
          <div v-on:click="change_layer('recipients')" class="col switch" v-bind:class="is_active_layer('recipients')">Recipients</div>
          <div v-on:click="change_layer('donors')" class="col switch" v-bind:class="is_active_layer('donors')">Donors</div>
        </div>

      </div>
    </div>

    <div class="row projects-row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Project Name</th>
            <th>Amount(in millions)</th>
            <th>Currency</th>
            <th>Country</th>
            <th>Donor</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="project in projects">
            <td>{{project.project_name}}</td>
            <td>{{project.amount}}</td>
            <td>{{project.currency}}</td>
            <td>{{project.recipient.country.name}}</td>
            <td>{{project.donor.country.name}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  const axios = require('axios')
  const _ = require('lodash')
  const financing = require('../../static/data/sample')
  //const countries = require('../../static/data/countries')

  export default {
    name: 'Home',
    components: {},
    mounted () {
      this.initMap()
      this.initLayers()
      this.fetch_countries_data()
      this.set_project_data()
      this.group_donor_country()
      this.group_recipients_country()

    },
    data () {
      return {
        map: null,
        tileLayer: null,
        layers: [],
        countries_geojson: {},
        default_layer: 'donors',
        projects: {},
        countries_features: {},
        loading_layers: false,
        geojson: null,
        grouped_recipients: {},
        grouped_donors: {},
        sum_of_recipients: {},
        active_layer: 'donors',
        is_filter_active: false
      }
    },
    methods: {
      trigger_filter: function(){
        this.is_filter_active = this.is_filter_active !== true;

        console.log(this.map.getLayers())
      },
      group_recipients_country: function () {
        var grouped_output = _(financing).groupBy(function (o) {
          return o.recipient.country.iso3
        }).value()

        this.grouped_recipients = grouped_output
      },
      group_donor_country: function () {
        var grouped_output = _(financing).groupBy(function (o) {
          return o.donor.country.iso3
        }).value()

        this.grouped_donors = grouped_output
      },
      initMap: function () {
        //Initialise a leaflet map
        this.map = L.map('map',{
          zoomControl: false
        }).setView([0, 0], 2)

        this.tileLayer = L.tileLayer(
          'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
          {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>'
          }
        )

        this.tileLayer.addTo(this.map)
      },
      initLayers () {

      },
      change_layer: function (layer) {
        console.log(layer)
        this.map.eachLayer(function(layer){
          console.log(layer)
        });
        this.active_layer = layer
      },
      is_active_layer: function(layer){
        if (layer === this.active_layer){
          return 'active-switch';
        }

        return '';
      },
      style: function (feature) {
        //console.log(feature.properties.amount)

        return {
          weight: 2,
          opacity: 1,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.7,
          fillColor: this.getColor(feature.properties.amount),
          info: L.control()
        }
      },
      onEachFeature: function (feature, layer) {
        layer.on({
          //mouseover: this.highlightFeature,
          //mouseout: this.resetHighlight,
          click: this.zoomToFeature
        })
      },
      zoomToFeature: function (e) {
        //this.map.fitBounds(e.target.getBounds());
        //console.log(e.target.getBounds())
      },
      resetHighlight: function (e) {
        this.geojson.resetStyle(e.target)

        info.update()
      },
      highlightFeature: function (e) {
        var layer = e.target

        layer.setStyle({
          weight: 5,
          color: '#666',
          dashArray: '',
          fillOpacity: 0.7
        })

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
          layer.bringToFront()
        }

        //this.info.update(layer.feature.properties);
      },
      getColor: function (d) {
        console.log('calling styles')

        return d > 1000 ? '#800026' :
          d > 500 ? '#BD0026' :
            d > 200 ? '#E31A1C' :
              d > 100 ? '#FC4E2A' :
                d > 10 ? '#FD8D3C' :
                  d > 5 ? '#FEB24C' :
                    d > 2 ? '#FED976' :
                      '#FFEDA0'
      },
      fetch_countries_data: function () {
        // axios.get('https://datahub.io/core/geo-countries/r/0.geojson')
        //   .then(response => (this.countries_geojson = response.data))
        this.countries_geojson = require('../../static/data/countries_2')
      },
      set_project_data: function () {
        this.projects = financing
      }
    },
    watch: {
      sum_of_recipients: function (newVal, OldVal) {
        var r_array = []

        for (var key in newVal){
          var layer = _.find(this.countries_geojson.features, function(o) {
            return o.properties.ISO_A3 === key;
          });

          //Add Layer to map
          layer.properties.amount = newVal[key];

          r_array.push(layer)

          L.geoJson(layer, {
            style: this.style,
            onEachFeature: this.onEachFeature
          }).addTo(this.map)

        }

        //var recipients = L.layerGroup(r_array).addTo(this.map);
      },
      // whenever question changes, this function will run
      countries_geojson: function (newVal, oldVal) {
        //console.log(newVal)

        this.geojson = L.geoJson(newVal, {
          style: this.style,
          onEachFeature: this.onEachFeature
        }).addTo(this.map)


      },
      grouped_recipients: function (newVal, Oldval) {
        //console.log(newVal)
        var recipients_total = {}

        for (var key in newVal) {
          //We have the country key.
          var country_data = newVal[key]

          recipients_total[key] = _.sumBy(country_data, function (o) {
            return o.amount
          })
        }

        this.sum_of_recipients = recipients_total
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .map {
    height: 600px;
  }
  .map-and-switcher{
    margin-bottom: 30px;
  }
  .layer-switcher{
    height: 50px;
  }
  .layer-switcher .row{
    margin: 0;
    background: #152d49;
    height: 50px;
    border-bottom: 1px solid #c8cfd8;
    border-left: 1px solid #bcc1c7;
  }
  .layer-switcher .active-switch{
    background: #fff;
    cursor: pointer;
  }
  .layer-switcher .switch{
    cursor: pointer;
  }
  .filter-trigger-row{
    position: relative;
    top: -67px;
    color: white;
    height: 55px;
  }
  .filters-row{
    position: relative;
    top: -50px;
    display: none;
  }
  .filter-trigger{
    cursor: pointer;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .9s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>
